<div class="lineNumbers">
	<ul>
		<li>0</li>	
		<li>1</li>	
		<li>2</li>	
		<li>3</li>
		<li>4</li>	
		<li>5</li>	
		<li>6</li>	
		<li>7</li>	
		<li>8</li>	
		<li>9</li>	
		<li>10</li>	
		<li>11</li>	
		<li>12</li>	
		<li>13</li>	
		<li>14</li>	
		<li>15</li>	
		<li>16</li>	
		<li>17</li>	
		<li>18</li>	
		<li>19</li>	
		<li>20</li>	
	</ul>
</div>
<div class="text">
	<ul>
		<li class="color-gray">/*skills*/</li>	

		<li class="empty"></li>
		<li>
			<span class="color-green">#environnement</span> {
		</li>	
		<li class="property">
			<span class="color-blue">macos</span> : <span class="color-purple">80</span><span class="color-red">%</span>;
		</li>
		<li class="property">
			<span class="color-blue">linux</span> : <span class="color-purple">50</span><span class="color-red">%</span>;
		</li>	
		<li class="property">
			<span class="color-blue">windows</span> : <span class="color-purple">50</span><span class="color-red">%</span>;
		</li>	
		<li>}</li>



		<li class="empty"></li>
		<li>
			<span class="color-green">#organisation</span> {
		</li>	
		<li class="property">
			<span class="color-blue">versionning</span> : <span class="color-purple">git</span>;
		</li>
		<li class="property">
			<span class="color-blue">vm</span> : <span class="color-purple">Vagrant</span>, <span class="color-purple">Docker</span>;
		</li>	
		<li class="property">
			<span class="color-blue">methodologie</span> : <span class="color-purple">Agile</span>, <span class="color-purple">Scrum</span>, <span class="color-purple">Trello</span>;
		</li>	
		<li>}</li>


		<li class="empty"></li>
		<li>
			<span class="color-green">#programmation</span> {
		</li>	
		<li class="property">
			<span class="color-blue">base</span> : <span class="color-purple">C</span>, <span class="color-purple">C++</span>;
		</li>
		<li class="property">
			<span class="color-blue">backend</span> : <span class="color-purple">NodeJs</span>, <span class="color-purple">Express</span>, <span class="color-yellow">"Php"</span>, <span class="color-purple">Zend</span>, <span class="color-purple">Symphony2</span>;
		</li>	
		<li class="property">
			<span class="color-blue">frontend</span> : <span class="color-purple">AngularJS</span>, <span class="color-purple">Meteor</span>, <span class="color-yellow">"Html / Js / Css"</span>;
		</li>	
		<li class="property">
			<span class="color-blue">mobile</span> : <span class="color-purple">Cordova</span>, <span class="color-purple">Ionic</span>, <span class="color-yellow">"IOS / Swift"</span>, <span class="color-purple">Java</span>, <span class="color-purple">Android</span>;
		</li>	
		<li>}</li>


	</ul>
</div>


<!-- 
Programmation de base : C, C++
Web backend : NodeJs / Express, Php / Zend / Symphony2 
Web frontend : AngularJS, Html / Js / Css
Web mobile : Cordova / Ionic, IOS / Swift, Java / Android -->