<div class="lineNumbers">
	<ul>
		<li>0</li>	
		<li>1</li>	
		<li>2</li>	
		<li>3</li>
		<li>4</li>	
		<li>5</li>	
		<li>6</li>	
		<li>7</li>	
		<li>8</li>	
		<li>9</li>	
		<li>10</li>	
		<li>11</li>	
		<li>12</li>	
		<li>13</li>	
		<li>14</li>	
		<li>15</li>	
		<li>16</li>	
		<li>17</li>	
		<li>18</li>	
		<li>19</li>	
		<li>20</li>	
		<li>21</li>	
		<li>22</li>	
		<li>23</li>	
		<li>24</li>	
		<li>25</li>	
		<li>26</li>	
		<li>27</li>	
		<li>28</li>	
		<li>29</li>	
		<li>30</li>	
		<li>31</li>	
		<li>32</li>	
		<li>33</li>	
		<li>34</li>	
		<li>35</li>	
		<li>36</li>	
		<li>37</li>	
		<li>38</li>	
		<li>39</li>	
	</ul>
</div>
<div class="text">
	<ul>
		<li class="color-gray">/*experiences*/</li>	

		<li class="empty"></li>
		<li>
			<span class="color-green">#monbuilding</span> {
		</li>	
		<li class="property">
			<span class="color-blue">description</span> : <span class="color-yellow">"Part-time développement Fullstack"</span>;
		</li>
		<li class="property">
			<span class="color-blue">mission</span> : <span class="color-yellow">"Création de la plateforme MonBuilding"</span>, <a class="color-purple" target="_blanck" href="https://www.monbuilding.com">www.monbuilding.com</a>;
		</li>
		<li class="property">
			<span class="color-blue">date_started</span> : <span class="color-purple">avril</span>, <span class="color-red">2016</span>;
		</li>
		<li class="property">
			<span class="color-blue">date_ended</span> : <span class="color-purple">juillet</span>, <span class="color-red">2016</span>;
		</li>
		<li class="property">
			<span class="color-blue">technologies</span> : <span class="color-purple">AngularJs</span>, <span class="color-purple">Strongloop</span>, <span class="color-purple">mongodb</span>, <span class="color-purple">mailgun</span>, <span class="color-purple">SEO</span>;
		</li>
		<li>}</li>

		<li class="empty"></li>
		<li>
			<span class="color-green">#mezimo</span> {
		</li>	
		<li class="property">
			<span class="color-blue">description</span> : <span class="color-yellow">"Part-time développement Web/mobile"</span>;
		</li>
		<li class="property">
			<span class="color-blue">mission</span> : <span class="color-yellow">"Réalisation de l’application mobile Mézimo"</span>, <a class="color-purple" target="_blanck" href="https://mezimo.com/">mezimo.com</a>;
		</li>
		<li class="property">
			<span class="color-blue">date_started</span> : <span class="color-purple">octobre</span>, <span class="color-red">2015</span>;
		</li>
		<li class="property">
			<span class="color-blue">date_ended</span> : <span class="color-purple">fevrier</span>, <span class="color-red">2016</span>;
		</li>
		<li class="property">
			<span class="color-blue">technologies</span> : <span class="color-purple">Ionic</span>, <span class="color-purple">Sqlite</span>, <span class="color-purple">Synfony2</span>;
		</li>
		<li>}</li>


		<li class="empty"></li>
		<li>
			<span class="color-green">#iapulse</span> {
		</li>	
		<li class="property">
			<span class="color-blue">description</span> : <span class="color-yellow">"Freelance développement Web/mobile"</span>;
		</li>
		<li class="property">
			<span class="color-blue">date</span> : <span class="color-red">2015</span>;
		</li>
		<li class="property">
			<span class="color-blue">projects</span> : <span class="color-purple">Noon</span>, <span class="color-purple">Looky</span>;
		</li>
		<li class="property">
			<span class="color-blue">technologies</span> : <span class="color-purple">Ionic</span>, <span class="color-purple">Cordova</span>, <span class="color-purple">Angularjs</span>, <span class="color-purple">NodeJs</span>, <span class="color-purple">Express</span>, <span class="color-purple">Stronloop</span>;
		</li>
		<li>}</li>



		<li class="empty"></li>
		<li>
			<span class="color-green">#subvitamine</span> {
		</li>	
		<li class="property">
			<span class="color-blue">description</span> : <span class="color-yellow">"Stage développement Fullstack"</span>;
		</li>
		<li class="property">
			<span class="color-blue">date</span> : <span class="color-yellow">"juin 2014 - decembre 2014"</span>;
		</li>
		<li class="property">
			<span class="color-blue">projects</span> : <span class="color-purple">Mondialtourisme</span>, <span class="color-purple">Nouvelair</span>, <span class="color-purple">Aupullman</span>;
		</li>
		<li class="property">
			<span class="color-blue">technologies</span> : <span class="color-purple">Zend</span>, <span class="color-purple">CakePHP</span>, <span class="color-purple">Angularjs</span>, <span class="color-purple">prestashop</span>, <span class="color-purple">magento</span>;
		</li>
		<li>}</li>


		<li class="empty"></li>
		<li>
			<span class="color-green">#SMABTP</span> {
		</li>	
		<li class="property">
			<span class="color-blue">description</span> : <span class="color-yellow">"Stage développement Fullstack"</span>;
		</li>
		<li class="property">
			<span class="color-blue">date</span> : <span class="color-red">2012</span>;
		</li>
		<li>}</li>



	</ul>
</div>
<!-- 

2010 - 2013	  Emplois saisonniers
		  Animateur dans les écoles de Palaiseau,
		  Employé de restauration à la Martinière,
		  Serveur au Novotel de Saclay,
		  Jardinier paysagiste à Fardois Entreprise,
		  Responsable de péage au Min de Rungis. -->