<div class="lineNumbers">
	<ul>
		<li>0</li>	
		<li>1</li>	
		<li>2</li>	
		<li>3</li>
		<li>4</li>	
		<li>5</li>	
		<li>6</li>
		<li>7</li>	
		<li>8</li>	
		<li>9</li>
		<li>10</li>	
		<li>11</li>	
		<li>12</li>
		<li>13</li>
		<li>14</li>	
		<li>15</li>	
		<li>16</li>
	</ul>
</div>
<div class="text">
	<ul>
		<li class="color-gray">/*welcom*/</li>	

		<li class="empty"></li>

		<li>
			<<span class="color-red">h1</span>>
			<span>A propos de moi</span> <
			/<span class="color-red">h1</span>>
		</li>
		<li>
			<<span class="color-red">br</span>/>
		</li>
		<li>
			<<span class="color-red">br</span>/>
		</li>
		<li>
			<<span class="color-red">p</span>>
		</li>
		<li class="property">
			Actuellement étudiant de 24ans en 3 ème année de l'école 42,
		</li>
		<li class="property">
			je suis un jeune passionné, développeur de sites et d'applications web qui habite à Saclay.
		</li>
		<li class="property">
		Etant quelqu'un d'acharné avec le mental d'un sportif, je n'ai pas peur de relever des défis.
		</li>
		<li class="property">
			Grâce à Epitech et maintenant 42, j'ai pu développer une adaptation à toute épreuve ainsi qu'une rapidité d'auto-formation rapide et efficace.
		</li>
		<li><
			/<span class="color-red">p</span>>
		</li>

		<li>
			<<span class="color-red">br</span>/>
		</li>

		<li>
			<<span class="color-red">a</span> <span class="color-green">href</span>=<span class="color-yellow">"https://github.com/fufeck"</span> > <a href="https://github.com/fufeck"  target="_blanck">github</a> <
			/<span class="color-red">a</span>>
		</li>
		<li>
			<<span class="color-red">br</span>/>
		</li>

		<li>
			<<span class="color-red">a</span> <span class="color-green">href</span>=<span class="color-yellow">"https://www.linkedin.com/in/fabien-tafforeau-a98b47b3"</span> > <a href="https://www.linkedin.com/in/fabien-tafforeau-a98b47b3"  target="_blanck">linkedin</a> <
			/<span class="color-red">a</span>>
		</li>
		<li>
			<<span class="color-red">br</span>/>
		</li>


	</ul>
</div>
