:root {
	--white-color: #F6F6F6;
	--black-color: #272822;
    --gray-color: #8e8e8e;
	--red-color: red;
	--blue-color: #38eeff;
	--green-color: #7CFC00;
}

.color-j {color : #ccc;}
.color-purple {color : #E066FF;}
.color-yellow {color : yellow;}

.color-gray {color : var(--gray-color);}
.color-red {color : var(--red-color);}
.color-blue {color : var(--blue-color);}
.color-green {color : var(--green-color);}

.empty {margin-bottom: 1.5em;}

span {padding: 0; margin: 0;}

html, body , ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

#cv a {
    color: var(--black-color);
}

#cv a:hover {
    color: var(--black-color);
    text-decoration: none;
}

#cv a:focus {
    color: var(--black-color);
    text-decoration: none;
}

#cv a:visited {
    color: var(--black-color);
    text-decoration: none;
}

#cv a:active {
    color: var(--black-color);
    text-decoration: none;
}

li {list-style: none;}
.property {padding-left: 30px;}

i {padding-left: 2px;padding-right: 2px;}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 1.5em;
}

.icon-large {
    font-size: 18px;    
}

#toggle-icon {
    cursor: pointer;    
}

#toggle-nav {
    padding-left: 20px;
}

#toggle-nav li {
    cursor: pointer;
}
.menu {
    height: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 30px;
}

#content {
    height: 100%;
    color: var(--white-color);
    background: var(--black-color);
    overflow-y: scroll;
}

.lineNumbers {
    padding-top: 30px;
}

.lineNumbers li {
    color: var(--gray-color);
    position: relative;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 40px;
    padding-top: 30px;
}